doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Round About - Start Bootstrap Template
  // Bootstrap core CSS
  link(href='/bootstrap.min.css' rel='stylesheet')
  // Custom styles for this template
  link(href='/round-about.css' rel='stylesheet')
// Navigation
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    a.navbar-brand(href='/') Randy
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item.active
          a.nav-link(href='#')
            | Repos
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/logout') Log Out
// Page Content
.container
  // Introduction Row
  //
    <h1 class="my-4">About Us
    <small>It's Nice to Meet You!</small>
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
  // Team Members Row
  .row
    .col-lg-12
      h2.my-4 Starred repositories
    .col-lg-4.col-sm-6.text-center.mb-4
      a(href=starred[0].svn_url)
        img.rounded-circle.img-fluid.d-block.mx-auto.x200(src=starred[0].owner.avatar_url alt='')
      h3 #{starred[0].name}
      p
        | #{starred[0].language}
    .col-lg-4.col-sm-6.text-center.mb-4
      a(href=starred[1].svn_url)
        img.rounded-circle.img-fluid.d-block.mx-auto.x200(src=starred[1].owner.avatar_url alt='')
      h3 #{starred[1].name}
      p
        | #{starred[1].language}
    .col-lg-4.col-sm-6.text-center.mb-4
      a(href=starred[2].svn_url)
        img.rounded-circle.img-fluid.d-block.mx-auto.x200(src=starred[2].owner.avatar_url alt='')
      h3 #{starred[2].name}
      p
        | #{starred[2].language}
    .col-lg-6.col-sm-6.text-center.mb-4
      a(href=starred[3].svn_url)
        img.rounded-circle.img-fluid.d-block.mx-auto.x200(src=starred[3].owner.avatar_url alt='')
      h3 #{starred[3].name}
      p
        | #{starred[3].language}
    .col-lg-6.col-sm-6.text-center.mb-4
      a(href=starred[4].svn_url)
        img.rounded-circle.img-fluid.d-block.mx-auto.x200(src=starred[4].owner.avatar_url alt='')
      h3 #{starred[4].name}
      p
        | #{starred[4].language}
// /.container
// Footer
footer.py-5.bg-dark
  .container
    p.m-0.text-center.text-white Copyright &copy; Your Website 2018
  // /.container
// Bootstrap core JavaScript
script(src='/jquery.min.js')
script(src='/bootstrap.bundle.min.js')
